/* Style - Inpusts */

.input-group-addon .now-ui-icons {
    font-size: 15px;
    color: #323232;
}

input.form-control,
textarea.form-control {
    font-size: 14px;
    font-weight: 500;
}

textarea::-webkit-scrollbar-track {
    background-color: #fff;
}

textarea::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #323232;
}

.font-weight-semibold {
    font-weight: 500 !important;
}


/* Modifying Navbars */

.navbar.sticky-header {
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DCE35B, #2ecc71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DCE35B, #2ecc71);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateY(-100%);
    transition: all .45s ease-in-out;
}

.navbar.sticky-header.active {
    transform: translateY(0);
    opacity: 1
}

.navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
.navbar .collapsing.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    text-shadow: .3px .4px .3px #bbb;
}

.navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
.navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.navbar .navbar-translate a.navbar-brand h6 {
    color: #323232;
    font-weight: 500;
    font-size: 21px;
}

.navbar .navbar-brand:focus {
    background: none;
}

.navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
.navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
.navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
    text-shadow: none;
    color: white;
}

@media screen and (max-width: 991px) {
    .section-navbars .navbar-collapse {
        display: none !important;
    }
    .navbar.sticky-header.active {
        transform: none;
        opacity: 1
    }
    .navbar.sticky-header {
        transform: none;
        opacity: 1;
    }
    .navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
    .navbar .collapsing.navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #323232;
        font-size: 15px;
    }
    .navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
    .navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
        font-size: 18px;
        color: #000000;
    }
    .navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
    .navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
    .navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
        color: #323232;
    }
    .collapse.navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
        max-height: 420px;
    }
}

.sidebar-collapse .navbar-collapse:before {
    /* fallback for old browsers */
    background: #fefefe;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #1f2429;
    opacity: 1;
}


/* Dropdown */

.dropdown-menu .dropdown-item {
    font-size: 1em;
    font-weight: 500;
}

.dropdown-menu .dropdown-divider {
    height: 1.5px;
    background-color: #000;
}

.dropdown-menu .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(102, 102, 102, 1);
    font-size: 0.9142em;
    text-transform: uppercase;
    font-weight: 600;
}


/* Navbar */

.collapse.navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
    height: auto;
    font-weight: 500;
    overflow-x: hidden;
}

.dropdown-menu::-webkit-scrollbar-track {
    background-color: #fff;
}

.dropdown-menu::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #323232;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
    background: none;
}

.navbar .navbar-nav .dropdown .dropdown-toggle:hover,
.navbar .navbar-nav .dropdown .dropdown-toggle:focus,
.navbar .navbar-nav .dropdown .dropdown-toggle:visited {
    background: none;
}

.navbar .navbar-nav .dropdown .dropdown-toggle .fa-shopping-cart {
    margin-left: 16px;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    margin-top: 5px;
    padding: 20px 0 10px 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    text-shadow: .3px .4px .3px #bbb;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li {
    min-width: 150px;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a {
    display: block;
    padding: 11px 40px 11px 25px;
    letter-spacing: 0.5px;
    line-height: 1em;
    border-left: 3px solid rgba(17, 17, 17, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-shadow: .3
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a.long {
    line-height: 1.5em;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a:hover {
    padding-left: 35px;
    padding-right: 30px;
    background: rgba(17, 17, 17, 0.05);
    border-left: 3px solid #111;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a {
    color: #323232;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a i {
    padding-right: 5px;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-header {
    padding: 0 25px;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8em;
    letter-spacing: 2px;
    line-height: 2em;
    margin-top: 3px;
    text-transform: uppercase;
    color: #111;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu .divider {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #ddd;
}

.collapse.navbar-collapse .navbar-nav .dropdown .bg-solid {
    background: #fff;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-banner {
    margin-left: -13px;
}


/* ---- Mega Menu ---- */

.nav,
.mega .collapse,
.mega .dropup,
.dropdown {
    position: static;
}

.container {
    position: relative;
}

.dropdown-menu {
    left: auto;
}

.mega-content {
    padding: 20px 30px;
}

.dropdown.mega-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.dropdown .dropdown-menu.mega {
    right: 0;
    max-width: 500px;
}

.navbar-small .navbar-nav .dropdown .dropdown-menu {
    margin-top: 0;
}

.navbar-fw .navbar-header {
    margin-left: 50px;
    width: 25%;
}

.navbar-fw .navbar-right {
    margin-right: 50px;
}


/* ---- Navbar Utility ---- */

.bg-solid-white {
    background: #fff !important;
}

.bg-solid-dark {
    background: #111;
}


/* Top bar style */

.top-bar {
    background: #555;
    color: #fff;
    font-size: 1rem;
    padding: 10px 0;
    font-weight: 400;
}

.top-bar.top-bar-light {
    background: #fff;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.top-bar a {
    color: #fff;
}

.top-bar.top-bar-light a.login-btn,
.top-bar.top-bar-light a.signup-btn {
    color: #555 !important;
}

.top-bar.top-bar-light a.login-btn span,
.top-bar.top-bar-light a.signup-btn span {
    display: inline-block;
}

.top-bar p {
    margin-bottom: 0;
    font-size: 1.05rem;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar ul.social-custom {
    margin-left: 20px;
}

.top-bar ul.social-custom li {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.top-bar ul.social-custom a {
    text-decoration: none !important;
    color: #fff;
    z-index: 1;
}

.top-bar ul.social-custom a.active,
.top-bar ul.social-custom a:hover {
    background: #2ecc71;
}

.top-bar ul.social-custom li:hover {
    background: #2ecc71;
    color: #fff;
}

.top-bar .contact-info {
    margin-right: 20px;
}

.top-bar .contact-info a {
    font-size: 0.8rem;
}

.carousel-title {
    color: #231f20;
}

.carousel-description {
    color: #fff !important;
}


/* Tob bar ends */


/* Panel / Collapse */

.panel-heading {
    padding: 1px 0;
    position: relative;
    border: 0;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    color: #444;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
    border-bottom: 1px solid #ddd
}

.panel-heading a[aria-expanded="true"] i,
.card-collapse a.expanded i {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-heading a i {
    float: right;
    position: relative;
    color: #2ecc71;
    font-weight: 600;
    font-size: 14px;
    top: 10px;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.panel-collapse .panel-body p {
    font-size: 15px;
    line-height: 1.8em;
    color: #777777;
    padding: 8px;
    font-weight: 500;
    text-align: justify;
}


/* text shadow */

.text-shadow {
    text-shadow: 2px 2px 2px #ddd;
}

.text-shadow-0 {
    text-shadow: .4px .5px .4px #bbb;
}

.text-shadow-1 {
    text-shadow: 1px 1px 1px #bbb;
}

.text-shadow-2 {
    text-shadow: 0.7px 0.7px 0.7px #ddd;
}

.text-shadow-3 {
    text-shadow: 1px 1px 1px #888;
}

.text-shadow-black {
    text-shadow: 1px 1px 1px #777777;
    font-weight: 300;
}

h5.description {
    font-size: 18px;
    font-weight: lighter;
}

h4.description {
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0px;
}

.owl-carousel h5,
.owl-carousel .h5 {
    font-size: 1.3rem;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

label {
    font-weight: 400;
    font-size: 15px;
}

.separator {
    width: 88px;
}

@media only screen and (max-width: 420px) {
    figure.sideways:hover>div h5 {
        opacity: 0;
    }
    figure.sideways:hover>div p {
        opacity: 00;
    }
    figure.sideways:hover>div::before {
        opacity: 0;
    }
}

@media only screen and (max-width: 520px) {
    .index-page .page-header {
        height: 50vh;
    }
    figure.upward:hover figcaption h5 {
        opacity: 0;
    }
    figure.upward:hover figcaption p {
        opacity: 0;
    }
    figure.upward:hover figcaption::before {
        opacity: 0;
    }
    figure.sideways h5,
    figure.sideways p {
        font-size: 1em;
    }
    .carousel-title {
        font-size: 1.8em;
    }
    h4.description.carousel-description {
        font-size: .9em;
        margin: 0px;
        padding: 0px;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 520px) {
    .index-page .page-header {
        height: 30vh;
    }
    .carousel-title {
        font-size: 2.2em;
    }
    h4.description.carousel-description {
        font-size: 1.2em;
        margin: 0px;
    }
}

@media only screen and (max-width: 575px) {
    .package_content {
        margin-top: 40px;
    }
    .package_image_container {
        height: calc((100vw - 30px) / 0.974);
    }
    .package_image_background {
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .index-page .page-header {
        height: 20vh;
    }
    .carousel-title {
        font-size: 2.5em;
    }
    h4.description.carousel-description {
        font-size: 1.2em;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .index-page .page-header {
        height: 62vh;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        display: none;
    }
    .owl-carousel .owl-dots {
        margin-top: 20px;
    }
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .carousel-title {
        font-size: 2.8em;
        padding: 10px;
    }
    h4.description.carousel-description {
        font-size: 1.3em;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .contact-form .card-contact {
        max-width: inherit;
        margin: 0;
        margin-top: 15px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .index-page .page-header {
        height: 72vh;
    }
    .carousel-title {
        font-size: 3.8em;
    }
    h4.description.carousel-description {
        font-size: 1.7em;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .carousel-indicators {
        bottom: 70px;
    }
    .carousel-caption {
        bottom: 80px;
    }
    .index-page .page-header {
        height: 86vh;
    }
}

.carousel-caption.cap-clip {
    background: url("../img/fort/streets.jpg");
    /* Create the parallax scrolling effect */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    width: 100%;
}

.cap-clip h4 {
    font-weight: 900;
    font-size: 6.49rem;
    margin: 0px;
    padding: 0px;
    line-height: .8em;
    color: none;
}

.sec {
    height: inherit;
    background: rgba(255, 255, 255, .7);
    color: #000 !important;
    text-align: center;
    mix-blend-mode: lighten;
    font: 900 25px cookie, cursive;
    margin: 0px !important;
}

.data {
    overflow: hidden;
    width: 100%;
    height: 86vh;
    z-index: 0;
    background: url(../img/munnar_tea.jpg) 50%/ cover
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #3a3d3c;
    opacity: .8;
}

.form-control ::-moz-placeholder {
    /* Firefox 19+ */
    color: #3a3d3c;
    opacity: .8;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #3a3d3c;
    opacity: .8;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #3a3d3c;
    opacity: .8;
}


/* head marquee */

.title-item {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.title-item .title-item-inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

.title-item .title-item-inner .title-custom-header {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 135px;
    line-height: 1.1em;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-align: center;
    color: #ffffff"

}

.title-item .title-item-inner .title-text-marquee {
    position: relative;
    white-space: nowrap;
    color: #212121;
    font-size: 285px;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: -.05em;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.25);
    font-weight: 600;
    text-transform: uppercase;
}

.title-text-marquee .title-marquee-element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    z-index: -1;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scrolling 20s linear infinite;
    -webkit-animation: scrolling 20s linear infinite;
    animation: scrolling 20s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes scrolling {
    0% {
        -moz-transform: translateX(90%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scrolling {
    0% {
        -webkit-transform: translateX(90%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scrolling {
    0% {
        -moz-transform: translateX(90%);
        /* Firefox bug fix */
        -webkit-transform: translateX(90%);
        /* Firefox bug fix */
        transform: translateX(90%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .title-item .title-item-inner .title-custom-header {
        font-size: 45px;
    }
    .title-item .title-item-inner .title-text-marquee {
        font-size: 125px;
    }
}

@media only screen and (min-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .title-item .title-item-inner .title-custom-header {
        font-size: 55px;
    }
    .title-item .title-item-inner .title-text-marquee {
        font-size: 145px;
    }
}

@media (min-width:576px) {
    .title-item .title-item-inner .title-custom-header {
        font-size: 75px;
    }
    .title-item .title-item-inner .title-text-marquee {
        font-size: 165px;
    }
}

@media screen and (min-width:768px) {
    .title-item .title-item-inner .title-custom-header {
        font-size: 85px;
    }
    .title-item .title-item-inner .title-text-marquee {
        font-size: 185px;
    }
}

@media (min-width:992px) {
    .title-item .title-item-inner .title-custom-header {
        font-size: 105px;
    }
    .title-item .title-item-inner .title-text-marquee {
        font-size: 205px;
    }
}

@media (min-width:1200px) {
    .title-item .title-item-inner .title-custom-header {
        font-size: 115px;
    }
    .title-item .title-item-inner .title-text-marquee {
        font-size: 245px;
    }
}