.category {
    font-weight: 500;
    font-size: 1.32em;
    text-transform: none;
}

.main-price {
    font-weight: 300;
}

.carousel.product {
    margin: -150px 0px 0px;
    z-index: 1;
}

p.quotes {
    margin: -10px 0px 0px;
    z-index: 0;
    text-align: justify;
}

small.author {
    text-transform: none;
    font-style: italic;
}

.outer {
    position: relative;
}

.outer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 150%;
}

.outer>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
}

.parallax {
    /* The image used */
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cam-army {
    background: url("../img/fort/cheenavala1.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    width: 100%;
}

h1.title {
    font-size: 4.5em
}

p,
p.card-description {
    font-weight: 400;
    color: #777777
}

.card-title {
    font-weight: 400;
    margin-top: 0px
}