.category {
    font-weight: 500;
    font-size: 1.52em;
    text-transform: none;
}

.main-price {
    font-weight: 300;
}

.carousel.product {
    margin: -150px 0px 0px;
    z-index: 1;
}

p.quotes {
    margin: -10px 0px 0px;
    z-index: 0;
    text-align: justify;
}

small.author {
    text-transform: none;
    font-style: italic;
}

.outer {
    position: relative;
}

.outer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 150%;
}

.outer>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
}

.parallax {
    /* The image used */
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cam-army {
    background: url("../img/fort/streets.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    width: 100%;
}

.cam-army h1 {
    font-weight: 900;
    font-size: 6.49rem;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    line-height: .8em;
}

.cam-army h1.first {
    font-size: 8rem;
}

p.card-description {
    font-weight: 500;
    color: #777777;
    font-size: 1.2em;
}

.card .card-image {
    position: relative;
    border-radius: 6px
}

.card.no-shadow .card-image,
.card.no-shadow .card-image img {
    box-shadow: none;
}

.card .card-image {
    height: auto;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.card .card-image img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 18px;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .card-image .colored-shadow {
    transform: scale(0.95);
    top: 18px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: opacity .45s;
    opacity: 0;
}

.card .card-image.no-shadow {
    box-shadow: none;
}

.card .card-image.no-shadow.shadow-normal {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-image.no-shadow .colored-shadow {
    display: none !important;
}

.card-plain .card-image {
    margin: 0;
    border-radius: 6px;
}

.card-plain .card-image img {
    border-radius: 6px;
}

.card h4.title {
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .image-container.image-right {
        margin-top: 150px;
        margin-bottom: 20px;
    }
}

.td-do-list {
    padding-top: 2.429rem;
}

.td-do-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.td-do-list ul li {
    padding: 1.071rem 0 1.071rem 4rem;
    position: relative;
    line-height: 2.14285;
}

.td-do-list ul li>i {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: -108px -108px;
    height: 30px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.td-do-list ul li>i.icon-hotel {
    background-position: -108px -108px;
}

.td-do-list ul li>i.icon-foods {
    background-position: -162px -108px;
}

.td-do-list ul li>i.icon-drive {
    background-position: -216px -108px;
}

.margin_60 {
    padding-top: 60px;
    padding-bottom: 60px
}

#position ul li:after,
#position ul li:first-child:before {
    font-style: normal;
    font-weight: 400;
    top: 1px;
    font-family: "Montserrat"
}

#position {
    background-color: #fff;
    padding: 10px 0;
    font-size: 13px;
    border-bottom: 1px solid #ededed
}

#position ul li:first-child {
    padding-left: 20px
}

#position ul li:first-child:before {
    font-family: 'Nucleo Outline';
    content: "\ea47";
    position: absolute;
    top: 0;
    left: 0;
    color: #888
}

#position ul {
    margin: 0;
    padding: 0;
    color: #888
}

#position ul li a {
    color: #111;
    opacity: .7
}

#position ul li a:hover {
    opacity: 1
}

#position ul li {
    display: inline-block;
    padding-right: 15px;
    margin-right: 5px;
    position: relative
}

#position ul li:after {
    font-family: 'Nucleo Outline';
    font-size: 8px;
    content: "\ea3b";
    position: absolute;
    top: 4px;
    bottom: 10px;
    right: 0
}

#position ul li:last-child:after {
    content: "";
}

._disable-pointer-events {
    pointer-events: none !important;
}


/*---------- 3.4 Trip Detail ----------*/

.trip-insight .insight-list-wrap {
    margin: 0 auto;
    padding: 10px 0 10px;
}

.trip-insight .insight-list-wrap .insight-list {
    display: table;
    margin: 15px auto 15px;
}

.trip-insight .insight-list-wrap .insight-list [class^='icon-'],
.trip-insight .insight-list-wrap .insight-list .fa,
.trip-insight .insight-list-wrap .insight-list .glyphicon {
    font-size: 40px;
    float: left;
}

.trip-insight .insight-list-wrap .insight-list .txt {
    margin-left: 46px;
}

.trip-insight .insight-list-wrap .insight-list .txt p,
.trip-insight .insight-list-wrap .insight-list .txt h1,
.trip-insight .insight-list-wrap .insight-list .txt h2,
.trip-insight .insight-list-wrap .insight-list .txt h3,
.trip-insight .insight-list-wrap .insight-list .txt h4,
.trip-insight .insight-list-wrap .insight-list .txt h5,
.trip-insight .insight-list-wrap .insight-list .txt h6 {
    margin: 0;
    padding: 0;
}

.trip-insight .social-icon {
    display: table;
    margin: 60px auto 0;
    padding: 0;
    text-align: center;
}

.trip-insight .social-icon li {
    display: inline-block;
    list-style: none;
    margin: 0 30px 15px;
}

.main-price {
    margin-top: 40px;
    text-align: center;
}

.main-price div {
    font-style: italic;
}

.main-price .price {
    font-style: normal;
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
}

.main-price .btn {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-tabs {
    text-align: center;
    font-weight: 500;
    margin: 50px 0 0;
    padding: 0;
    position: relative;
    z-index: 1;
    background: white;
}

.nav-tabs>.nav-item {
    background: #fff;
    padding: 0.6em 0;
    position: relative;
    margin: 0 0 0 -4px;
}

.nav-tabs>.nav-item>.nav-link {
    border: none;
    border-radius: 0px;
}

.nav-tabs>.nav-item>.nav-link.active {
    border: none;
    border-radius: 0px;
}

.nav-tabs>.nav-item>.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 0px;
    width: 0;
    height: 2px;
    transition: width .5s ease-in-out;
    transform: translate(-50%, 0);
}

.nav-tabs>.nav-item>.nav-link.active::after {
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DCE35B, #2ecc71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DCE35B, #2ecc71);
    width: 100%;
    height: 2px;
    transition: width .5s ease-in-out;
}

.nav-tabs>.nav-item>.nav-link.active:before,
.nav-tabs>.nav-item>.nav-link.active:after {
    opacity: 1;
}

.tab-content>.tab-pane {
    opacity: 0;
    transition: opacity .5s ease-in;
}

.tab-content>.tab-pane.show {
    opacity: 1;
}

.card-description {
    text-align: justify;
}

.timeline-vertical ol,
.timeline-vertical ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline-vertical .travel-date {
    font-size: 1.4rem;
    color: #3e3e40;
    font-weight: 300;
    font-family: Montserrat;
}

.timeline-vertical .travel-details {
    padding: 1rem 2rem;
}

#timeline {
    overflow: auto;
    background: white;
    height: 512px;
    margin-bottom: -5px;
    padding: 25px;
}

#timeline::-webkit-scrollbar-track {
    background-color: #fff;
}

#timeline::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
}

#timeline::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
}

.timeline-vertical .travel-details .connection {
    position: relative;
    padding: 2rem 0 2rem 2rem;
    color: #7c7c7c;
}

.timeline-vertical .travel-details .connection .content {
    padding-left: 2rem;
}

.timeline-vertical .travel-details .connection .content .wait-duration {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.timeline-vertical .travel-details .connection .content .wait-duration:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f554";
    position: absolute;
    left: -2rem;
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: #7c7c7c;
}

.timeline-vertical .travel-details .connection .connection-graph {
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: 1.16rem;
    width: 2rem;
}

.timeline-vertical .travel-details .connection .connection-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .5rem;
    border: dashed #DCE35B 1px;
}

.timeline-vertical .travel-details .connection .connection-dot {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: .1rem;
    background-color: #2ecc71;
    height: 1rem;
    width: 1rem;
    border-radius: 10rem;
}

.timeline-vertical .travel-details .segment {
    width: 100%;
    color: #585858;
    font-size: 1.5rem;
    padding: 0 0 0 2rem;
    position: relative;
    z-index: 2;
}

.timeline-vertical .travel-details .segment .origin {
    margin-bottom: 3rem;
    color: #757575;
}

.timeline-vertical .travel-details .segment .destination,
.timeline-vertical .travel-details .segment .origin {
    color: #585858;
}

.timeline-vertical .travel-details .segment .arrival-station,
.timeline-vertical .travel-details .segment .departure-station {
    color: #323232;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
}

.timeline-vertical .travel-details .segment .arrival-time,
.timeline-vertical .travel-details .segment .departure-time {
    display: inline-block;
    font-weight: 600;
    color: #777777;
    font-size: 1rem;
}

.timeline-vertical .travel-details .segment .origin .departure-time,
.timeline-vertical .travel-details .segment .destination .arrival-time {
    font-weight: 600;
    color: #777777;
    font-size: 1rem;
}

.timeline-vertical .travel-details .segment.first .origin .departure-station,
.timeline-vertical .travel-details .segment.last .destination .arrival-station {
    color: #323232;
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
}

.timeline-vertical .travel-details .segment .transporter-block {
    padding-left: 3.23077em;
}

.timeline-vertical .travel-details .segment .destination {
    margin-top: 3rem;
    color: #757575;
}

.timeline-vertical .travel-details .segment .icon-train {
    height: 2rem;
    width: 3rem;
    vertical-align: middle;
    margin-right: .5rem;
}

.timeline-vertical .travel-details .segment .wrapper {
    position: relative;
    padding-left: 2rem;
}

.timeline-vertical .travel-details .segment .duration {
    font-size: 1.2rem;
    line-height: 1rem;
    color: #333;
    padding-left: 1.5rem;
}

.timeline-vertical .travel-details .segment .duration:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f1b9";
    position: absolute;
    left: -4rem;
    font-size: 1.5rem;
    color: #7c7c7c;
}

.timeline-vertical .travel-details .segment .duration:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f017";
    position: absolute;
    left: 2rem;
}

.timeline-vertical .travel-details .segment .segment-graph {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    width: 2rem;
}

.timeline-vertical .travel-details .segment .segment-graph .line {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 9px;
    width: 3px;
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DCE35B, #2ecc71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DCE35B, #2ecc71);
}

.timeline-vertical .travel-details .segment .segment-graph .train-line {
    background-color: #cb0044;
}

.timeline-vertical .travel-details .segment .segment-graph .arrival,
.timeline-vertical .travel-details .segment .segment-graph .departure {
    position: absolute;
    left: 0;
    width: 2rem;
    height: 2rem;
}

.timeline-vertical .travel-details .segment .segment-graph .departure svg,
.timeline-vertical .travel-details .segment .segment-graph .connection svg,
.timeline-vertical .travel-details .segment .segment-graph .arrival svg {
    position: absolute;
    z-index: 1060;
    fill: transparent;
    stroke: #2ecc71;
    stroke-linecap: round;
    stroke-linejoin: round;
    background: white;
}

.travel-details .segment .segment-graph .departure svg circle,
.travel-details .segment .segment-graph .connection svg circle,
.travel-details .segment .segment-graph .arrival svg circle {
    fill: #DCE35B;
    background: transparent;
}

.timeline-vertical .travel-details .segment .segment-details .segment-graph .departure {
    top: 0;
}

.timeline-vertical .travel-details .segment .segment-details .segment-graph .arrival {
    bottom: 0;
}

.contact-form {
    padding: 0;
    position: relative;
}

.contact-form .map {
    width: 66.66666666666%;
    height: 100%;
    left: 33.33333333%;
    position: absolute;
}

.marker-map {
    height: 100px;
    font-size: 13px;
}

ul.itenary-steps {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

ul.itenary-steps li {
    padding-bottom: 10px;
    position: relative;
    min-height: 60px;
}

ul.itenary-steps li [class^='icon-'],
ul.itenary-steps li .fi,
ul.itenary-steps li .fas,
ul.itenary-steps li .fas,
ul.itenary-steps li .glyphicon {
    height: 45px;
    width: 45px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid #bbbbbb;
    background: #fff;
    color: #424242;
    font-size: 20px;
    font-weight: 200;
    float: left;
    z-index: 1;
    position: relative;
}

ul.itenary-steps li .fas {
    font-weight: 600
}

ul.itenary-steps li [class^="icon-none"] {
    background: transparent !important;
    border-color: transparent !important;
}

ul.itenary-steps li .day-number {
    float: left;
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin: 8px 20px 0 10px;
    padding: 5px 10px;
    font-size: .9em;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

ul.itenary-steps li .detail {
    margin-left: 150px;
    padding-top: 12.5px;
    font-size: .9rem;
    font-family: Montserrat;
    font-weight: 500;
    cursor: pointer;
}

ul.itenary-steps li:after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    border-left: 2px solid #bbbbbb;
    position: absolute;
    top: 0;
    left: 23px;
    z-index: 0;
}

ul.itenary-steps li:last-child:after {
    display: none;
}

ul.itenary-steps.primary [class^='icon-'],
ul.itenary-steps.primary .fa,
ul.itenary-steps.primary .glyphicon {
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DCE35B, #2ecc71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DCE35B, #2ecc71);
    color: #fff;
}

ul.itenary-steps.base [class^='icon-'],
ul.itenary-steps.base .fa,
ul.itenary-steps.base .glyphicon {
    background: #111111;
    border-color: #6f6f6f;
    color: #2ecc71;
}

@media screen and (max-width: 767px) {
    .trip-insight .insight-list {
        display: table;
        margin: 0 auto;
    }
    .sidebar ul {
        display: flex;
        align-content: center;
        margin-left: 15px;
    }
    ul.itenary-steps li .day-number {
        float: none;
        font-size: .9em;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        padding: 2px 10px;
    }
    ul.itenary-steps li .detail {
        margin-left: 60px;
        padding-top: 5px;
    }
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}

#map-canvas img {
    max-width: none !important;
}

.gm-style-iw {
    width: 320px !important;
    top: 25px !important;
    left: 0px !important;
    /* fallback for old browsers */
    background: linear-gradient(to bottom, rgba(220, 227, 91, .7) 0%, rgba(46, 204, 113, .7) 100%);
    background: -webkit-linear-gradient(top, rgba(220, 227, 91, .7) 0%, rgba(46, 204, 113, .7) 100%);
    background: -moz-linear-gradient(top, rgba(220, 227, 91, .7) 0%, rgba(46, 204, 113, .7) 100%);
    background: -ms-linear-gradient(top, rgba(220, 227, 91, .7) 0%, rgba(46, 204, 113, .7) 100%);
    box-shadow: 0 5px 20px -1px rgba(0, 0, 0, 0.24), 0 8px 10px -2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.gm-style-iw div:first-child {
    width: 100%;
}

#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 0px 20px 15px;
    width: 100%;
    color: #323232;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

#iw-container .iw-content p {
    font-size: 14px;
    font-weight: 500;
}

#iw-container .iw-content::-webkit-scrollbar {
    width: 0px;
}

.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}

.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}

.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.btn-info-close {
    opacity: 1;
    right: 50px !important;
    top: 26px !important;
    width: 20px !important;
    height: 20px !important;
}

.btn-info-close:before {
    font-family: "fontisto";
    font-weight: 500;
    content: "\ea11";
    position: absolute;
    font-size: 16px;
}