.best-section {
    background: rgba(226, 226, 226, 1);
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(235, 230, 245, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 230, 245, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe6eb', GradientType=1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    padding: 0px !important;
}

.section span.line {
    width: 120px;
    height: 2px;
    background-color: #e1e1e1;
    display: block;
    margin: auto;
    margin-bottom: 18px;
}

.section span.line em {
    width: 60px;
    height: 2px;
    background: #2ecc71;
    background: -webkit-linear-gradient(to right, #DCE35B, #2ecc71);
    background: linear-gradient(to right, #DCE35B, #2ecc71);
    display: block;
    margin: auto;
}


/* Section two Styles */

.best {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}

.best.best-hover .best-title {
    transition: color .4s;
    text-align: center;
}

.best.best-hover .description {
    text-align: justify;
    color: #323232;
    font-weight: 500
}

.best.best-hover:hover .icon {
    -webkit-transform: translate3d(0, -0.5rem, 0);
    -moz-transform: translate3d(0, -0.5rem, 0);
    -o-transform: translate3d(0, -0.5rem, 0);
    -ms-transform: translate3d(0, -0.5rem, 0);
    transform: translate3d(0, -0.5rem, 0);
    text-align: center;
}

.best.best-hover:hover .icon.icon-blue.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(44, 159, 241, 0.35);
}

.best.best-hover:hover .icon.icon-green.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(28, 218, 18, 0.35);
}

.best.best-hover:hover .icon.icon-yellow.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(255, 242, 54, 0.35);
}

.best.best-hover:hover .icon.icon-red.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(245, 49, 49, 0.35);
}

.best.best-hover:hover .icon.icon-blue+.best-title {
    color: #2CA8FF;
}

.best.best-hover:hover .icon.icon-yellow+.best-title {
    color: #f1c40f;
}

.best.best-hover:hover .icon.icon-red+.best-title {
    color: #FF3636;
}

.best.best-hover:hover .icon.icon-orange+.best-title {
    color: #f96332;
}

.best.best-hover:hover .icon.icon-green+.best-title {
    color: #18ff0f;
}

.best .icon {
    color: #888888;
    transition: transform .4s, box-shadow .4s;
    text-align: center;
}

.best .icon>i {
    font-size: 3em;
}

.best .icon.icon-circle {
    max-width: 80px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 9px 35px -6px rgba(0, 0, 0, 0.3);
    font-size: 0.7142em;
    background-color: #FFFFFF;
    position: relative;
}

.best .icon.icon-circle i {
    line-height: 2.7;
}

.best .best-title {
    margin: 25px 0 15px;
    padding: 0 15px;
    color: #2c2c2c;
}

.best p {
    color: #888888;
    padding: 0 15px;
    font-size: 1.1em;
}

.best-horizontal {
    text-align: left !important;
}

.best-horizontal .icon {
    float: left;
    margin-top: 23px;
    margin-right: 10px;
}

.best-horizontal .icon>i {
    font-size: 2em;
}

.best-horizontal .icon.icon-circle {
    width: 65px;
    height: 65px;
    max-width: 65px;
    margin-top: 8px;
}

.best-horizontal .icon.icon-circle i {
    display: table;
    margin: 0 auto;
    line-height: 3.5;
    font-size: 1.9em;
}

.best-horizontal .description {
    overflow: hidden;
}

.best-horizontal {
    text-align: left !important;
}

.best-horizontal .icon {
    float: left;
    margin-top: 23px;
    margin-right: 10px;
}

.best-horizontal .icon>i {
    font-size: 2em;
}

.best-horizontal .icon.icon-circle {
    width: 65px;
    height: 65px;
    max-width: 65px;
    margin-top: 8px;
}

.best-horizontal .icon.icon-circle i {
    display: table;
    margin: 0 auto;
    line-height: 3.5;
    font-size: 1.9em;
}

.icon.icon-blue {
    color: #2CA8FF;
}

.icon.icon-blue.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(44, 168, 255, 0.3);
}

.icon.icon-green {
    color: #18ff0f;
}

.icon.icon-green.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(22, 211, 12, 0.3);
}

.icon.icon-yellow {
    color: #f1c40f;
}

.icon.icon-yellow.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(242, 255, 54, 0.3);
}

.icon.icon-red {
    color: #FF3636;
}

.icon.icon-red.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(243, 52, 52, 0.3);
}

.icon.icon-white {
    color: #FFFFFF;
}


/* Section Style ends */


/* Contact form inspired */

.contact-form {
    padding: 0;
    position: relative;
}

.contact-form .card-contact {
    max-width: 560px;
    margin: 80px 0 80px 150px;
}

.contact-form .card-contact .info {
    padding: 0;
    margin: 0;
}

.contact-form .map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact-form .info-horizontal .icon {
    margin-top: 26px;
}

.contact-form .info-horizontal .icon>i {
    font-size: 2.25em;
    max-width: 45px;
}

.card-contact .header .title {
    margin: 10px 0 10px;
}

.card-raised {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3);
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card.card-contact .card-body .description {
    color: #3a3a3a;
}

.contact-form .map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact-form .description p small {
    font-size: 14px !important;
}

.marker-map {
    height: 100px;
    font-size: 13px;
}

.marker-map h5 {
    font-size: 14px;
    font-weight: 600;
}

.carousel-caption.left {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    widows: 100%;
    height: 100%;
}


/* Contact form ends */

.package {
    width: 100%;
    padding-top: 105px;
    padding-bottom: 43px;
    background: #f3f6f9;
}

.package_items {
    margin-top: 90px;
}

.package_col {
    margin-bottom: 83px;
}

.package_image_container {
    width: 100%;
    height: 320px;
}

.package_image_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.package_link {
    margin-top: 54px;
}

.package_link a {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.package_link a:hover {
    color: #323232;
}


/* Package ends */


/* Price Cards */

.card.card-price-tag .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card.card-price-tag .card-body .day-night {
    font-weight: 500;
    font-size: 1em;
    color: #3498db;
}

.card.card-price-tag .card-image {
    position: relative;
}

.card.card-price-tag .card-body .card-description {
    font-weight: 500;
    font-size: 1em;
    color: #323232;
}

.card.card-price-tag .card-footer {
    padding: 0;
    margin-top: 15px;
    background-color: transparent;
    border: 0;
}

.card.card-price-tag .card-footer .package-link {
    margin: 0;
    line-height: 10px;
    padding: 0px;
    color: #2ecc71;
}

.card.card-price-tag .card-footer .stats.stats-right {
    float: right;
    line-height: 30px;
}

.card.card-price-tag .card-footer .stats span:first-child {
    margin-right: 30px;
}

.card.card-price-tag .card-title {
    line-height: 1.5em;
    font-weight: 500;
}

.price_tag {
    position: absolute;
    left: 0;
    top: 27px;
    width: auto;
    height: 33px;
    background: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}


/* Price card ends */


/* Dropdown */

.dropdown-menu .dropdown-item {
    font-size: 1em;
    font-weight: 500;
}

.dropdown-menu .dropdown-divider {
    height: 1.5px;
    background-color: #000;
}

.dropdown-menu .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(102, 102, 102, 1);
    font-size: 0.9142em;
    text-transform: uppercase;
    font-weight: 600;
}


/* Bootstrap-style columns */

.column {
    position: relative;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    /* Space between tiles */
    margin-top: 8px;
}

.column {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    max-width: 25%;
}

.column img {
    vertical-align: middle;
}

.my-shuffle {
    position: relative;
    overflow: hidden;
}

.column img {
    display: block;
    width: 100%;
    max-width: none;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/*  */


/*  ----------------------------------------------------
6 portfolio
-------------------------------------------------------- */


/*  ----------------------------------------------------
Gallery Image hover effects
-------------------------------------------------------- */

.gallery-img {
    margin-bottom: 30px;
}

.gallery-img>a {
    display: block;
    color: #000;
    position: relative;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gallery-img>a img {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gallery-img>a:after {
    opacity: 0;
    visibility: hidden;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -webkit-box-shadow: inset 0px -86px 116px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -86px 116px -8px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -86px 116px -8px rgba(0, 0, 0, 0.75);
    z-index: 8;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gallery-img>a h3 {
    z-index: 12;
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 0px;
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 20px;
    font-weight: 300;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.gallery-img>a:hover {
    -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}

.gallery-img>a:hover:after {
    opacity: 1;
    visibility: visible;
}

.gallery-img>a:hover h3 {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}

.gallery-img>a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* Grid Layout for Images 4:3, 16:9*/

.aspect-16x9,
.aspect-9x16,
.aspect-4x3 {
    position: relative;
    margin-top: 30px;
}

.aspect-16x9:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
}

.aspect-16x9>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect-4x3:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%;
}

.aspect-4x3>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect-9x16:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 177.77778%;
}

.aspect-9x16>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*  
    Section backgrounds
*/

.dull {
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.metalic-toad {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-call {
    background-color: #2ecc71;
}

.btn-call i.fa {
    font-size: 24px;
    margin-top: 3px
}

.btn-call:hover,
.btn-call:focus,
.btn-call:active,
.btn-call.active,
.btn-call:active:focus,
.btn-call:active:hover,
.btn-call.active:focus,
.btn-call.active:hover,
.show>.btn-call.dropdown-toggle,
.show>.btn-call.dropdown-toggle:focus,
.show>.btn-call.dropdown-toggle:hover {
    background-color: #43d680;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-call:hover {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.17);
}

.btn-whatsapp {
    border-color: #2ecc71"

}


/* Testimonial */

.team-player h4.title {
    font-weight: 400;
}

.team-player .category {
    font-weight: 500;
}

.team-player img {
    height: 120px;
    width: 120px;
}


/*  */


/*  */

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    width: 48%;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    background-image: none;
}

.carousel .carousel-control-prev .fa,
.carousel .carousel-control-next .fa {
    display: none;
}

.carousel .carousel-control-prev {
    cursor: url("../img/arrow-left.png"), url("../img/arrow-left.cur"), default !important;
}

.carousel .carousel-control-next {
    cursor: url("../img/arrow-right.png"), url("../img/arrow-right.cur"), default !important;
}