.best-section {
    background: rgba(226, 226, 226, 1);
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(235, 230, 245, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 230, 245, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe6eb', GradientType=1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Style - Inpusts */

.input-group-addon .now-ui-icons {
    font-size: 15px;
    color: #323232;
}

input.form-control,
textarea.form-control {
    font-size: 13px;
    font-weight: 500;
}

textarea::-webkit-scrollbar-track {
    background-color: #fff;
}

textarea::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #323232;
}


/* Modifying Navbars */

.navbar.sticky-header {
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DCE35B, #45B649);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DCE35B, #45B649);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateY(-100%);
    transition: all .6s cubic-bezier(.86, 0, .07, 1);
}

.navbar.sticky-header.active {
    transform: translateY(0);
    opacity: 1
}

.navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
.navbar .collapsing.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    text-shadow: .3px .4px .3px #bbb;
}

.navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
.navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.navbar .navbar-translate a.navbar-brand h6 {
    color: #323232;
    font-weight: 500;
    font-size: 21px;
}

.navbar .navbar-brand:focus {
    background: none;
}

.navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
.navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
.navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
    text-shadow: none;
    color: white;
}

@media screen and (max-width: 991px) {
    .section-navbars .navbar-collapse {
        display: none !important;
    }
    .navbar.sticky-header.active {
        transform: none;
        opacity: 1
    }
    .navbar.sticky-header {
        transform: none;
        opacity: 1;
    }
    .navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
    .navbar .collapsing.navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #323232;
        font-size: 15px;
    }
    .navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
    .navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
        font-size: 18px;
        color: #000000;
    }
    .navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link,
    .navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .now-ui-icons,
    .navbar.navbar-transparent .collapse.navbar-collapse .navbar-nav .nav-item .nav-link .fa {
        color: #323232;
    }
    .collapse.navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
        max-height: 420px;
    }
}

.sidebar-collapse .navbar-collapse:before {
    /* fallback for old browsers */
    background: #fefefe;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #1f2429;
    opacity: 1;
}


/* Section two Styles */

.lore {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}

.lore.lore-hover .lore-title {
    transition: color .4s;
    text-align: center;
}

.lore.lore-hover .description {
    text-align: justify;
    color: #323232;
    font-weight: 500
}

.lore.lore-hover:hover .icon {
    -webkit-transform: translate3d(0, -0.5rem, 0);
    -moz-transform: translate3d(0, -0.5rem, 0);
    -o-transform: translate3d(0, -0.5rem, 0);
    -ms-transform: translate3d(0, -0.5rem, 0);
    transform: translate3d(0, -0.5rem, 0);
    text-align: center;
}

.lore.lore-hover:hover .icon.icon-blue.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(44, 159, 241, 0.35);
}

.lore.lore-hover:hover .icon.icon-green.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(28, 218, 18, 0.35);
}

.lore.lore-hover:hover .icon.icon-yellow.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(255, 242, 54, 0.35);
}

.lore.lore-hover:hover .icon.icon-red.icon-circle {
    box-shadow: 0px 14px 35px 0px rgba(245, 49, 49, 0.35);
}

.lore.lore-hover:hover .icon.icon-blue+.lore-title {
    color: #2CA8FF;
}

.lore.lore-hover:hover .icon.icon-yellow+.lore-title {
    color: #f1c40f;
}

.lore.lore-hover:hover .icon.icon-red+.lore-title {
    color: #FF3636;
}

.lore.lore-hover:hover .icon.icon-orange+.lore-title {
    color: #f96332;
}

.lore.lore-hover:hover .icon.icon-green+.lore-title {
    color: #18ff0f;
}

.lore .icon {
    color: #888888;
    transition: transform .4s, box-shadow .4s;
    text-align: center;
}

.lore .icon>i {
    font-size: 3em;
}

.lore .icon.icon-circle {
    max-width: 80px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 9px 35px -6px rgba(0, 0, 0, 0.3);
    font-size: 0.7142em;
    background-color: #FFFFFF;
    position: relative;
}

.lore .icon.icon-circle i {
    line-height: 2.7;
}

.lore .lore-title {
    margin: 25px 0 15px;
    padding: 0 15px;
    color: #2c2c2c;
}

.lore p {
    color: #888888;
    padding: 0 15px;
    font-size: 1.1em;
}

.lore-horizontal {
    text-align: left !important;
}

.lore-horizontal .icon {
    float: left;
    margin-top: 23px;
    margin-right: 10px;
}

.lore-horizontal .icon>i {
    font-size: 2em;
}

.lore-horizontal .icon.icon-circle {
    width: 65px;
    height: 65px;
    max-width: 65px;
    margin-top: 8px;
}

.lore-horizontal .icon.icon-circle i {
    display: table;
    margin: 0 auto;
    line-height: 3.5;
    font-size: 1.9em;
}

.lore-horizontal .description {
    overflow: hidden;
}

.lore-horizontal {
    text-align: left !important;
}

.lore-horizontal .icon {
    float: left;
    margin-top: 23px;
    margin-right: 10px;
}

.lore-horizontal .icon>i {
    font-size: 2em;
}

.lore-horizontal .icon.icon-circle {
    width: 65px;
    height: 65px;
    max-width: 65px;
    margin-top: 8px;
}

.lore-horizontal .icon.icon-circle i {
    display: table;
    margin: 0 auto;
    line-height: 3.5;
    font-size: 1.9em;
}

.icon.icon-blue {
    color: #2CA8FF;
}

.icon.icon-blue.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(44, 168, 255, 0.3);
}

.icon.icon-green {
    color: #18ff0f;
}

.icon.icon-green.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(22, 211, 12, 0.3);
}

.icon.icon-yellow {
    color: #f1c40f;
}

.icon.icon-yellow.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(242, 255, 54, 0.3);
}

.icon.icon-red {
    color: #FF3636;
}

.icon.icon-red.icon-circle {
    box-shadow: 0px 9px 30px -6px rgba(243, 52, 52, 0.3);
}

.icon.icon-white {
    color: #FFFFFF;
}


/* Section Style ends */


/* text shadow */

.text-shadow {
    text-shadow: 2px 2px 2px #ddd;
}

.text-shadow-0 {
    text-shadow: .4px .5px .4px #bbb;
}

.text-shadow-1 {
    text-shadow: 1px 1px 1px #bbb;
}

.text-shadow-2 {
    text-shadow: 0.7px 0.7px 0.7px #ddd;
}

.text-shadow-3 {
    text-shadow: 1px 1px 1px #888;
}

.text-shadow-black {
    text-shadow: 1px 1px 1px #323232;
    font-weight: 300;
}

h5.description {
    font-size: 18px;
    font-weight: lighter;
}

h4.description {
    font-size: 20px;
    color: #555555
}


/* Contact form inspired */

.contact-form {
    padding: 0;
    position: relative;
}

.contact-form .card-contact {
    max-width: 560px;
    margin: 80px 0 80px 150px;
}

.contact-form .card-contact .info {
    padding: 0;
    margin: 0;
}

.contact-form .map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact-form .info-horizontal .icon {
    margin-top: 26px;
}

.contact-form .info-horizontal .icon>i {
    font-size: 2.25em;
    max-width: 45px;
}

.card-contact .header .title {
    margin: 10px 0 10px;
}

.card-raised {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3);
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card.card-contact .card-body .description {
    color: #3a3a3a;
}

.contact-form .map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.marker-map {
    height: 100px;
    font-size: 13px;
}

.marker-map h5 {
    font-size: 14px;
    font-weight: 600;
}

.carousel-caption.left {
    top: 0;
    left: 15%;
    bottom: 20px;
    widows: 100%;
    height: 100%;
}


/* Contact form ends */

.package {
    width: 100%;
    padding-top: 105px;
    padding-bottom: 43px;
    background: #f3f6f9;
}

.package_items {
    margin-top: 90px;
}

.package_col {
    margin-bottom: 83px;
}

.package_image_container {
    width: 100%;
    height: 320px;
}

.package_image_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.package_link {
    margin-top: 54px;
}

.package_link a {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.package_link a:hover {
    color: #323232;
}


/* Package ends */


/* Price Cards */

.card.card-price-tag .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card.card-price-tag .card-body .day-night {
    font-weight: 500;
    font-size: 1em;
    color: #3498db;
}

.card.card-price-tag .card-image {
    position: relative;
}

.card.card-price-tag .card-body .card-description {
    font-weight: 500;
    font-size: 1em;
    color: #323232;
}

.card.card-price-tag .card-footer {
    padding: 0;
    margin-top: 15px;
    background-color: transparent;
    border: 0;
}

.card.card-price-tag .card-footer .package-link {
    margin: 0;
    line-height: 10px;
    padding: 0px;
    color: #2ecc71;
}

.card.card-price-tag .card-footer .stats.stats-right {
    float: right;
    line-height: 30px;
}

.card.card-price-tag .card-footer .stats span:first-child {
    margin-right: 30px;
}

.card.card-price-tag .card-title {
    line-height: 1.5em;
    font-weight: 500;
}

.price_tag {
    position: absolute;
    left: 0;
    top: 27px;
    width: auto;
    height: 33px;
    background: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}


/* Price card ends */

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0px;
}

label {
    font-weight: 400;
    font-size: 15px;
}


/* Dropdown */

.dropdown-menu .dropdown-item {
    font-size: 1em;
    font-weight: 500;
}

.dropdown-menu .dropdown-divider {
    height: 1.5px;
    background-color: #000;
}

.dropdown-menu .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(102, 102, 102, 1);
    font-size: 0.9142em;
    text-transform: uppercase;
    font-weight: 600;
}


/* Bootstrap-style columns */

.column {
    position: relative;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    /* Space between tiles */
    margin-top: 8px;
}

.column {
    -ms-flex: 20%;
    /* IE10 */
    flex: 20%;
    max-width: 20%;
}

.column img {
    vertical-align: middle;
}

.my-shuffle {
    position: relative;
    overflow: hidden;
}

.column img {
    display: block;
    width: 100%;
    max-width: none;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/*  */


/*  ----------------------------------------------------
6 portfolio
-------------------------------------------------------- */

.project_box_one {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    cursor: crosshair;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.project_box_one img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.project_box_one .product_info {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    opacity: 0;
}

.project_box_one .product_info .product_info_text {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    position: relative;
}

.project_box_one .product_info .product_info_text .product_info_text_inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.project_box_one .product_info .product_info_text .product_info_text_inner h4 {
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    opacity: 0;
    margin-bottom: 5px;
}

.project_box_one .product_info .product_info_text .product_info_text_inner i {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    opacity: 0;
}

.project_box_one:hover img {
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari */
    transform: scale(1.1);
    /* Standard syntax */
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.project_box_one:hover .product_info {
    opacity: 1;
}

.project_box_one:hover .product_info .product_info_text_inner h4 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.project_box_one:hover .product_info .product_info_text_inner i {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


/* Grid Layout for Images 4:3, 16:9*/

.aspect-16x9,
.aspect-9x16,
.aspect-4x3 {
    position: relative;
}

.aspect-16x9:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}

.aspect-16x9>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect-4x3:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%;
}

.aspect-4x3>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect-9x16:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 177.77778%;
}

.aspect-9x16>.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*  
    Section backgrounds
*/

.dull {
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.metalic-toad {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-call {
    background-color: #2ecc71;
}

.btn-call i.fa {
    font-size: 24px;
    margin-top: 3px
}

.btn-call:hover,
.btn-call:focus,
.btn-call:active,
.btn-call.active,
.btn-call:active:focus,
.btn-call:active:hover,
.btn-call.active:focus,
.btn-call.active:hover,
.show>.btn-call.dropdown-toggle,
.show>.btn-call.dropdown-toggle:focus,
.show>.btn-call.dropdown-toggle:hover {
    background-color: #43d680;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-call:hover {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.17);
}

.btn-whatsapp {
    border-color: #2ecc71"

}


/* Navbar */

.collapse.navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
    height: auto;
    font-weight: 500;
    overflow-x: hidden;
}

.dropdown-menu::-webkit-scrollbar-track {
    background-color: #fff;
}

.dropdown-menu::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #323232;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
    background: none;
}

.navbar .navbar-nav .dropdown .dropdown-toggle:hover,
.navbar .navbar-nav .dropdown .dropdown-toggle:focus,
.navbar .navbar-nav .dropdown .dropdown-toggle:visited {
    background: none;
}

.navbar .navbar-nav .dropdown .dropdown-toggle .fa-shopping-cart {
    margin-left: 16px;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    margin-top: 12px;
    padding: 20px 0 10px 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    text-shadow: .3px .4px .3px #bbb;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li {
    min-width: 150px;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a {
    display: block;
    padding: 11px 40px 11px 25px;
    letter-spacing: 0.5px;
    line-height: 0.8em;
    border-left: 3px solid rgba(17, 17, 17, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-shadow: .3
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a.long {
    line-height: 1.5em;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a:hover {
    padding-left: 35px;
    padding-right: 30px;
    background: rgba(17, 17, 17, 0.05);
    border-left: 3px solid #111;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a {
    color: #323232;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu li a i {
    padding-right: 5px;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-header {
    padding: 0 25px;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8em;
    letter-spacing: 2px;
    line-height: 2em;
    margin-top: 3px;
    text-transform: uppercase;
    color: #111;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-menu .divider {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #ddd;
}

.collapse.navbar-collapse .navbar-nav .dropdown .bg-solid {
    background: #fff;
}

.collapse.navbar-collapse .navbar-nav .dropdown .dropdown-banner {
    margin-left: -13px;
}


/* ---- Mega Menu ---- */

.nav,
.mega .collapse,
.mega .dropup,
.dropdown {
    position: static;
}

.container {
    position: relative;
}

.dropdown-menu {
    left: auto;
}

.mega-content {
    padding: 20px 30px;
}

.dropdown.mega-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.dropdown .dropdown-menu.mega {
    right: 0;
    max-width: 500px;
}

.navbar-small .navbar-nav .dropdown .dropdown-menu {
    margin-top: 0;
}

.navbar-fw .navbar-header {
    margin-left: 50px;
    width: 25%;
}

.navbar-fw .navbar-right {
    margin-right: 50px;
}


/* ---- Navbar Utility ---- */

.bg-solid-white {
    background: #fff !important;
}

.bg-solid-dark {
    background: #111;
}


/* Top bar style */

.top-bar {
    background: #555;
    color: #fff;
    font-size: 1rem;
    padding: 10px 0;
    font-weight: 400;
}

.top-bar.top-bar-light {
    background: #fff;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.top-bar a {
    color: #fff;
}

.top-bar.top-bar-light a.login-btn,
.top-bar.top-bar-light a.signup-btn {
    color: #555 !important;
}

.top-bar.top-bar-light a.login-btn span,
.top-bar.top-bar-light a.signup-btn span {
    display: inline-block;
}

.top-bar p {
    margin-bottom: 0;
    font-size: 1.05rem;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar ul.social-custom {
    margin-left: 20px;
}

.top-bar ul.social-custom li {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.top-bar ul.social-custom a {
    text-decoration: none !important;
    color: #fff;
    z-index: 1;
}

.top-bar ul.social-custom a.active,
.top-bar ul.social-custom a:hover {
    background: #2ecc71;
}

.top-bar ul.social-custom li:hover {
    background: #2ecc71;
    color: #fff;
}

.top-bar .contact-info {
    margin-right: 20px;
}

.top-bar .contact-info a {
    font-size: 0.8rem;
}


/* Testimonial */

.team-player h4.title {
    font-weight: 400;
}

.team-player .category {
    font-weight: 500;
}

.team-player img {
    height: 120px;
    width: 120px;
}


/*  */

.content-center h4.description {
    color: #fff;
}


/*  */

@media only screen and (max-width: 520px) {
    .index-page .page-header {
        height: 50vh;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 520px) {
    .index-page .page-header {
        height: 65vh;
    }
}

@media only screen and (max-width: 575px) {
    .package_content {
        margin-top: 40px;
    }
    .package_image_container {
        height: calc((100vw - 30px) / 0.974);
    }
    .package_image_background {
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .index-page .page-header {
        height: 75vh;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .index-page .page-header {
        height: 90vh;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        display: none;
    }
    .owl-carousel .owl-dots {
        margin-top: 20px;
    }
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .contact-form .card-contact {
        max-width: inherit;
        margin: 0;
        margin-top: 15px;
    }
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .carousel-indicators {
        bottom: 40px;
    }
    .carousel-caption {
        bottom: 60px;
    }
    .index-page .page-header {
        height: 100vh;
    }
    .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .carousel-indicators {
        bottom: 70px;
    }
    .carousel-caption {
        bottom: 80px;
    }
    .index-page .page-header {
        height: 100vh;
    }
}